.header__link {
  margin: 0;
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.header__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 930px) {
  .header__link {
    margin-right: 27px;
  }
}
