.popup__answer {
  position: relative;
  max-width: 430px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 500px) {
  .popup__answer {
    max-width: 288px;
  }
}
