.profile__button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  transition: 0.5s linear;
  background: transparent;
  border: none;
}

.profile__button:hover {
  background-image: url(../../../images/button-avatar.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  background-color: #000;
  background-size: 26px;
  cursor: pointer;
}